<div class='row'>
  <div class='col-md-12 text-center'>
    <h3>Enter Tracking Number</h3>
  </div>
</div>

<%= render 'form', url: "/orders/#{params[:order_id]}/tracking_numbers/#{params[:id]}", method: :patch %>