<h1>This is <%= current_user.username %>'s show page</h1>
<br />
<%= link_to 'Change Account Information', edit_user_registration_path %>
<br />
<% if current_user.role == 'admin' %>
  <%= link_to 'Add New Category', new_category_path %>
<% end %>