<div class='row'>
  <div class='col-md-12 text-center'>
    <h3>Please Enter Your Shipping Information</h3>
  </div>
</div>

<%= render 'shipping_informations/form', object: @shipping_information,
    path: "/orders/#{params[:order_id]}/shipping_informations/#{params[:id]}" %>
