<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <%= bootstrap_form_for(category) do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :description %>
      <%= f.submit lable %>
    <% end %>
  </div>
</div>
  