<div class='category_show'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h3><%= @category.title %>'s Item List Page</h3>
    </div>
  </div>
  <div class='row items_list_are text-center'>
    <% @items.each do |item| %>
      <%= render 'items/item_show', item: item, category: @category %>
    <% end %>
  </div>
  <%= paginate @items %>
</div>